# SQL Server
MSSQL_SA_PASSWORD=YOUR_STRONG_PASSWORD
MSSQL_PID=Express

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=sales_products

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=YOUR_MONGODB_PASSWORD

# ClickHouse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=YOUR_CLICKHOUSE_PASSWORD
